name: build-bbiribarabu

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Build release binary
        run: cargo build --release

      - name: Rename binary
        run: |
          if [[ "${{ matrix.os }}" == "ubuntu-latest" ]]; then
            mv target/release/Bbiribarabu bbiribarabu-linux
          else
            mv target/release/Bbiribarabu bbiribarabu-macos
          fi

      - name: Upload binaries to GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            bbiribarabu-linux
            bbiribarabu-macos
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
